.header{
    display: flex;
    border-bottom: 1px solid gray;
}

.burger{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.yt-logo{
    width: 150px;
    height: auto;
}