.header{
    display: flex;
    border-bottom: 1px solid lightgrey;
    position: sticky;
    top: 0;
    place-items: center;
    z-index: 100;
    background-color: white;
    width: 100%;
}

.burger{
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.yt_logo{
    width: 10%;
    height: auto;
    min-width: 100px;
}

.searchBar{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px 0 0 10px;
    margin-left: 10px;
}

.searchBar__div{
    width: 45%;
    display: flex;
    min-width: 120px;
    margin-left: 45px;
    border: 1px solid grey;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
}

.searchIcon__div{
    background-color: #F8F8F8;
    height: 40px;
    width: 60px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    border-left: 1px solid grey;
    display: grid;
    place-items: center;

}

.searchBar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
    font-size: 16px;
  }

  .header__icons{
      display: flex;
      justify-content: space-evenly;
      width: 30%;
      place-items: center;
      margin-left: 25%;
      min-width: 200px;
  }

  .header__icon{
      cursor: pointer;
  }