.sidebar{
    flex: 0.165;
    place-items: center;
    position: sticky;
    top: 0;
    min-width: 150px;

}

.hr{
    background-color: lightgrey;
    height: 1px;
    margin-top: 5px;
    width: 75%;
}