.sideicon{
    display: flex;
    margin-top: 5px;
    align-items: center;
    cursor: pointer;
    width: 80%;
    height: 60px;
    border-radius: 0 40px 40px 0;
    color: red;

}

.sideicon__icon{
    margin-left: 10%;
}

.sideicon:hover{
    background-color: red;
    color: white;
    transition: color 150ms ease-out;
}

.sideicon__text{
    font-size: 15px;
    margin-left: 16px;
}