.video__Thumbnail{
    width: 260px;
    height: 155px;
    cursor: pointer;
}

.video{
    margin-top: 20px;
    margin-left: 35px;
    
}

.video__info{
    display: flex;
    cursor: pointer;
}

.video__logo{
    margin-top: 10px;
    margin-right: 20px;
}

.video__text{
    margin-top: 10px;
    width: 200px;
}

.video__text > p {
    color: #606060;
}

.video__text > h3 {
    font-size: 16px;
}